@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a{
  text-decoration: none;
}
:root {
  font-family: "Poppins", "sans-serif";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #151410;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-dark{
  background-color: #151410;
}

body {
  margin: 0;
  place-items: center;
  font-family: "Poppins", "sans-serif";
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.parent_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.gdsint_innerbox{
  background-color: #FFCB63;
  border-radius: 20px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 7px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.gds_innerbox{
  border-radius: 20px;
  background-color: #e6be8a;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 7px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.supernova_innerbox{
  background-color: black;
  border-radius: 20px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 7px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.pdmn_innerbox{
  border-radius: 20px;
  background-color: #ed4337;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 7px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.voltion_innerbox{
  border-radius: 20px;
  background-color: gray;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 7px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.feilong_innerbox{
  border-radius: 20px;
  background-color: #FFE801;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 7px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

.gdsint_child_containers, .gds_child_containers, .supernova_child_containers, .pdmn_child_containers,
.voltion_child_containers,.feilong_child_containers {
    padding: 15px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 20px 0px 50px;
    flex: 0 50 auto;
    width: 300px;
    height: 150px;
    background-color: #eee;
    border: none;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
    font-weight:500
}
.gdsint_child_containers:active, .gds_child_containers:active, .supernova_child_containers:active,
.pdmn_child_containers:active, .voltion_child_containers:active, .feilong_child_containers:active{
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
} 
.gdsint_child_containers:disabled, .gds_child_containers:disabled,.supernova_child_containers:disabled,
.pdmn_child_containers:disabled, .voltion_child_containers:disabled,.feilong_child_containers:disabled {
  cursor: auto;
  color: grey;
 }
.gdsint_child_containers:hover:not(:disabled) {
  background: #FFA436;
  color: white;
  text-shadow: 0 1px gray;
 }
.gds_child_containers:hover:not(:disabled) {
  background: #ed4337;
  color: white;
  text-shadow: 0 1px gray;
 }
.supernova_child_containers:hover:not(:disabled){
  background: gray;
  color: white;
  text-shadow: 0 1px gray;
}
.pdmn_child_containers:hover:not(:disabled){
  background: #e6be8a;
  color: white;
  text-shadow: 0 1px gray;
}
.voltion_child_containers:hover:not(:disabled), .feilong_child_containers:hover:not(:disabled){
  background: black;
  color: white;
  text-shadow: 0 1px gray;
}

.cons_pflex{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .parent_container{
    flex-wrap: wrap;
    gap: 0px;
  }
  .child_containers{
    margin: 10px 20px;
  }
}

.neu_box{
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow:  20px 20px 34px #bebebe,
               -20px -20px 34px #ffffff;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #747bff;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}

.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.705);
}

.company-card:hover {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.navbar {
  background-color: #151410;
}
.navbar-brand {
  color: #EFEFEF;
}
.navbar-nav .nav-link {
  color: #EFEFEF;
  font-size: large;
}

.navbar-nav .nav-link.active {
  color: #EFEFEF !important;
  font-weight: bold;
}

.navbar-brand.active,
.navbar-brand:hover {
  color: #EFEFEF !important;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #3b3e47;
  font-weight: bold;
}

.nav-link.tab {
  color: #3b3e47;
  width: 100%;
  display: flex;
  justify-content:left;
  align-items: center;
}

.nav-link.tab:hover {
  background-color: #3b3e47;
  width: 100%;
  color: #919191;
  font-weight: bold;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #0F1015;
}
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.confirmation-modal h2 {
  margin-bottom: 10px;
}

.confirmation-modal button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  color: #ffffff;
  cursor: pointer;
}

.confirmation-modal button:hover {
  background-color: #d32f2f;
}

.scroll-to-top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.scroll-to-top-btn:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
}

.scroll-to-top-btn .fa-arrow-up {
  transition-duration: .3s;
}

.scroll-to-top-btn:hover .fa-arrow-up {
  transform: translateY(60%);
  opacity: 0;
}

.scroll-to-top-btn::before {
  position: absolute;
  top: -15px;
  content: "Back to Top";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.scroll-to-top-btn:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}

.no-links-message {
  display: flex;
  justify-content: center;
}

.r-container{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0%;
}

.cropper{
  position: relative;
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.08);
  background: #ffff;
}
input[type='radio']{
  accent-color:#000000
}

.rbtn:hover {
  border-color: #333333;
  filter: drop-shadow(0px 10px 10px gray);
}

.rbtn-outline:hover {
  color: black;
  border-color: #333333;
  filter: drop-shadow(0px 10px 10px gray);
}

.rbtn{
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background: #000000;
  padding: .5rem 1.5rem;
  border-radius: 30px;
  border: 2px solid #000000;
  cursor: pointer;
  margin: 1rem;
}

.rbtn-outline{
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}
.raction-btns{
  padding-bottom: 1rem;
}
.rbtn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cropped-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 5px;
}

.cropped-img {
  max-width: 100%;
  max-height: 100%;
}
.aspect-ratios{
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
  font-weight: 500;
  flex-direction: column;
}
.msg{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.705);
}

.img-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.3s ease, height 0.3s ease;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.img-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.705);
  width: 150px;
  height: 150px;
}

.preview_img, .final_img{
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.card {
  border-radius: 20px;

}
.shadow {
  box-shadow:  33px 33px 65px #b6b6b6,
  -33px -33px 65px #ffffff;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.company-card{
  border-radius: 20px;
  height: 100%;
}

.btn {
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }

.btn:hover {
  color: #e8e8e8;
 }

.btn:hover::before {
  width: 100%;
 }

 .submit {
  font-family: inherit;
  font-size: 15px;
  background: #F45164;
  color: white;
  font-weight: bold;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.submit span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.submit .fa-wrapper {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.submit:hover .fa-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit:hover .fa-wrapper svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.submit:hover span {
  transform: translateX(5em);
}

.submit:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.enhance_box{
  width: 500px;
  background-color: #EFECEC;
  border-radius: 20px;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  font-weight:500
  
}
/* .active {
  background-color: #74747485;
  border-radius: 10px; 
} */

.signout {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #F77E61;
  --bg-color: #F45164;
  --main-color: #dedede;
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s ease; 
  text-align: center;
  /* Improved transition */
}

.signout,
.signout__icon,
.signout__text {
  transition: transform 0.15s ease, color 0.3s ease; /* Adjust timing function and duration */
}

.signout .button__text {
  transform: translateX(-5px);
  color: var(--font-color);
  font-weight: 600;
}

.signout .button__icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signout .button__icon i {
  font-size: 20px; 
}

.signout:hover {
  background: var(--bg-color);
  box-shadow: 6px 6px var(--main-color); /* Adjusted box-shadow on hover */
}

.signout:hover .button__text {
  color: transparent;
}

.signout:hover .button__icon {
  width: 100%;
  transform: translateX(0);
}

.signout:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #efefef;
}

.ql-toolbar .ql-fill {
  fill: #EFEFEF;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #fff;
}