@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  font-family: "Poppins", "sans-serif";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  font-family: "Poppins", "sans-serif";
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.parent_container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.child_containers {
    padding: 15px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    flex: 0 50 auto;
    margin: 50px 0px;
    background-color: black;
    width: 250px;
    height: 150px;
    border-radius: 30px;
    
}

.child_containers:hover{
  filter: drop-shadow(0px 10px 10px gray);  
}

.cons_pflex{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  .parent_container{
    flex-wrap: wrap;
    gap: 0px;
  }
  .child_containers{
    margin: 10px 20px;
  }
}

.neu_box{
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow:  20px 20px 34px #bebebe,
               -20px -20px 34px #ffffff;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #747bff;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smoother animation */
}

.hover-effect:hover {
  transform: translateY(-8px); /* Lift the card more on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.705); /* Adjust box-shadow for a more pronounced effect */
}

.company-card:hover {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.navbar-brand {
  color: #fff; /* Change to the desired color, such as white */
}
.navbar-nav .nav-link {
  color: white;
  font-size: large;
}

.navbar-nav .nav-link.active {
  color: white !important; /* Ensure white color overrides */
  font-weight: bold;
}

.navbar-brand.active,
.navbar-brand:hover {
  color: white !important; /* Ensure white color overrides */
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: rgb(105, 105, 116); /* Change text color on hover */
  font-weight: bold;
}

.nav-link.btn {
  color: #919191; 
  /* margin-right: 0.5rem; */
  width: 100%;
  display: flex;
  justify-content:left;
  align-items: center;
}

.nav-link.btn.active {
  color: #6C50F3;
  /* background-color: #0F1015; */
  font-weight: bolder;
  width: 100%;
}

.nav-link.btn:hover {
  background-color: #b0b0b5; 
  width: 100%;
  color: #919191;
  font-weight: bold;

}


.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem; /* Adjust size as needed */
  height: 2rem; /* Adjust size as needed */
  border-radius: 50%;
  background-color: #ffffff; /* Your custom background color */
}

.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #0F1015;
  z-index: 1000; 
}
.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.confirmation-modal h2 {
  margin-bottom: 10px;
}

.confirmation-modal button {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #f44336;
  color: #ffffff;
  cursor: pointer;
}

.confirmation-modal button:hover {
  background-color: #d32f2f;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-btn:hover {
  background-color: #0056b3;
}

.no-links-message {
  display: flex;
  justify-content: center;
}

.r-container{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0%;
}

.cropper{
  position: relative;
  width: 50vh;
  height: 50vh;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.08);
  background: #ffff;
}
input[type='radio']{
  accent-color:#000000
}

.rbtn:hover {
  /* background-color: #333333; */
  border-color: #333333; 
  filter: drop-shadow(0px 10px 10px gray);  
}

.rbtn-outline:hover {
  color: black;
  border-color: #333333; 
  filter: drop-shadow(0px 10px 10px gray);  
}

.rbtn{
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background: #000000;
  padding: .5rem 1.5rem;
  border-radius: 30px;
  border: 2px solid #000000;
  cursor: pointer;
  margin: 1rem;
}

.rbtn-outline{
  background: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}
.raction-btns{
  padding-bottom: 1rem;
}
.rbtn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cropped-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; 
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 5px;
}

.cropped-img {
  max-width: 100%; 
  max-height: 100%; 
}
.aspect-ratios{
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem;
  font-weight: 500;
  flex-direction: column;
}
.msg{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.705); /* Adjust box-shadow for a more pronounced effect */
}

.img-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease, width 0.3s ease, height 0.3s ease; 
  object-fit: contain; /* Corrected */
  width: 100px; /* Corrected */
  height: 100px; /* Corrected */
}

.img-hover:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.705); 
  width: 150px;
  height: 150px;
}

.preview_img, .final_img{
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}